pyautogui==0.9.53
psutil==5.8.0
wikipedia-api==0.5.4
requests==2.25.1
beautifulsoup4==4.9.3
geocoder==1.38.1
pyttsx3==2.90
SpeechRecognition==3.8.1
pyjokes==0.6.0
threading==0.0.1
datetime==5.1
